<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link  rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Title</title>


</head>
<body>
<nav th:replace="base :: navbar"></nav>




<!----Main Content--->
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div th:each="message : ${messages}">
                    <div th:if="${message.image} !=null">
                        <img class="card-img-top" th:src="${message.image}" alt="image posted" />
                    </div>
                    <h6 class="card-title text-bold text-center" th:text="${message.postedBy}"></h6>
                    <h7 class="card-subtitle mb-2 text-muted" th:text="${message.date}"></h7>
                    <p class="card-text" th:text="${message.content}"></p>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a  class="dropdown-item" th:href="@{/update/{id}(id=${message.id})}">Edit</a>
                            <a  class="dropdown-item"th:href="@{/detail/{id}(id=${message.id})}">Details</a>
                            <a  class="dropdown-item" th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<footer th:replace="base :: footer"></footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>